{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Project Details{% endblock %}

{% block content %}
<style>
        .export-pdf-btn {
            position: absolute;
            top: 20px;
            right: 20px;
        }
</style>

<div class="container-fluid py-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-2" style="box-shadow: 0px 3px 10px #bfbfbf; height: 100%; background-color: #f8f9fa;">
            <!-- Sidebar content here -->
        </div>

        <!-- Main content area -->
        <div class="col-md-10">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <a href="{% url 'project_details_pdf' project.id %}">
                    <button id="exportPdfBtn"  class="btn btn-danger export-pdf-btn">
                        <i class="fas fa-file-pdf"></i> Export to PDF
                    </button></div></a>

                    <h1 class="text-center fade-in mb-4 text-uppercase">Project Details</h1>

                    <!-- Project Information -->
                    <h2 class="section-heading text-primary fade-in">Project Information:</h2>
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Project Title:</strong></td>
                                <td>{{ project.Project_Title|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>PSRN:</strong></td>
                                <td>{{ project.PSRN|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Name of Principal Investigator:</strong></td>
                                <td>{{ project.Name_PI|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Designation:</strong></td>
                                <td>{{ project.Designation_PI|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Organization:</strong></td>
                                <td>{{ project.organization.name|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Department:</strong></td>
                                <td>{{ project.department.name|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Project Type:</strong></td>
                                <td>{{ project.get_project_type_display|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Funding Agency:</strong></td>
                                <td>{{ project.funding_agency|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Funding Scheme:</strong></td>
                                <td>{{ project.funding_scheme|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Funding Agency Type:</strong></td>
                                <td>{{ project.get_funding_agency_type_display|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>CAPEX:</strong></td>
                                <td>Rs. {{ project.CAPEX|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>OPEX:</strong></td>
                                <td>Rs. {{ project.OPEX|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Budget Sanctioned:</strong></td>
                                <td>Rs. {{ project.CAPEX|add:project.OPEX|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Project Duration (months):</strong></td>
                                <td>{{ project.project_duration|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Start Date:</strong></td>
                                <td>{{ project.start_date|date:"d-m-Y"|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>End Date:</strong></td>
                                <td>{{ project.end_date|date:"d-m-Y"|default:"No data available" }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Co-PIs Information -->
                    <h2 class="text-primary">Co-PIs Information</h2>
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <td><strong>Name:</strong></td>
                                <td><strong>PSRN:</strong></td>
                                <td><strong>Designation:</strong></td>
                                <td><strong>Organization:</strong></td>
                                <td><strong>Department:</strong></td>
                            </tr>
                            {% if principal_investigators %}
                                {% for pi in principal_investigators %}
                                <tr>
                                    <td>{{ pi.Name_PI|default:"No data available" }}</td>
                                    <td>{{ pi.PSRN|default:"No data available" }}</td>
                                    <td>{{ pi.Designation_PI|default:"No data available" }}</td>
                                    <td>{{ pi.organization.name|default:"No data available" }}</td>
                                    <td>{{ pi.department.name|default:"No data available" }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center"><strong>No Co-PIs information available for this project.</strong></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <!-- Financial Overview -->
                    <h2 class="section-heading text-primary fade-in mt-5">Financial Overview:</h2>
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Total Sanctioned Amount:</strong></td>
                                <td>Rs. {{ total_sanctioned|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Received Amount:</strong></td>
                                <td>Rs. {{ total_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Expenditure:</strong></td>
                                <td>Rs. {{ total_expenditure|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Installment Amount:</strong></td>
                                <td>Rs. {{ total_installments_amount|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Balance Against Total Sanctioned:</strong></td>
                                <td>Rs. {{ balance_sanctioned|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Balance Against Total Received:</strong></td>
                                <td>Rs. {{ balance_received|default:"No data available" }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Amount Sanctioned Information -->
                    <h2 class="section-heading text-primary fade-in mt-5">Amount Sanctioned Information:</h2>
                    {% if budget %}
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Sanction Date:</strong></td>
                                <td>{{ budget.sanctiondate|date:"d-m-Y"|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Sanction Order:</strong></td>
                                <td>{{ budget.sanctionorder|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Equipment:</strong></td>
                                <td>Rs. {{ budget.Equipment|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Consumables:</strong></td>
                                <td>Rs. {{ budget.Consumables|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fellowship:</strong></td>
                                <td>Rs. {{ budget.Fellowship|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Contingency:</strong></td>
                                <td>Rs. {{ budget.Contingency|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Travel:</strong></td>
                                <td>Rs. {{ budget.Travel|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Field Testing:</strong></td>
                                <td>Rs. {{ budget.Field_Testing|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Miscellaneous:</strong></td>
                                <td>Rs. {{ budget.Miscellaneous|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Sanctioned:</strong></td>
                                <td><strong>Rs. {{ total_sanctioned|default:"No data available" }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-center"><strong>Amount sanctioned information available for this project.</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}

                    <!-- Received Amount Information -->
                    <h2 class="section-heading text-primary fade-in mt-5">Received Amount Information:</h2>
                    {% if received_amount %}
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            <tr>
                                <td><strong>Equipment:</strong></td>
                                <td>Rs. {{ received_amount.Equipment|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Consumables:</strong></td>
                                <td>Rs. {{ received_amount.Consumables|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Fellowship:</strong></td>
                                <td>Rs. {{ received_amount.Fellowship|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Contingency:</strong></td>
                                <td>Rs. {{ received_amount.Contingency|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Travel:</strong></td>
                                <td>Rs. {{ received_amount.Travel|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Field Testing:</strong></td>
                                <td>Rs. {{ received_amount.Field_Testing|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Miscellaneous:</strong></td>
                                <td>Rs. {{ received_amount.Miscellaneous|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Received:</strong></td>
                                <td><strong>Rs. {{ total_received|default:"No data available" }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="text-center"><strong>No received amount information available for this project.</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}

                    <!-- Installments and Their Bifurcation -->
                    <h2 class="section-heading text-primary fade-in mt-5">Installments and Bifurcation by Financial Year:</h2>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Financial Year</th>
                                <th>Equipment (Rs.)</th>
                                <th>Consumables (Rs.)</th>
                                <th>Fellowship (Rs.)</th>
                                <th>Contingency (Rs.)</th>
                                <th>Travel (Rs.)</th>
                                <th>Field Testing (Rs.)</th>
                                <th>Miscellaneous (Rs.)</th>
                                <th>Total (Rs.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if bifurcation_data %}
                                {% for data in bifurcation_data %}
                                <tr>
                                    <td>{{ data.year|default:"No data available" }}</td>
                                    <td>{{ data.Equipment|default:"No data available" }}</td>
                                    <td>{{ data.Consumables|default:"No data available" }}</td>
                                    <td>{{ data.Fellowship|default:"No data available" }}</td>
                                    <td>{{ data.Contingency|default:"No data available" }}</td>
                                    <td>{{ data.Travel|default:"No data available" }}</td>
                                    <td>{{ data.Field_Testing|default:"No data available" }}</td>
                                    <td>{{ data.Miscellaneous|default:"No data available" }}</td>
                                    <td>{{ data.Total|default:"No data available" }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="9" class="text-center"><strong>No bifurcation data available for this project.</strong></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <!-- Balance Information -->
                    <h2 class="section-heading text-primary fade-in mt-5">Remaining Balance Information:</h2>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Domain</th>
                                <th>Remaining Against Sanctioned (Rs.)</th>
                                <th>Remaining Against Received (Rs.)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Equipment</td>
                                <td>{{ balance_equipment_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_equipment_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td>Consumables</td>
                                <td>{{ balance_consumables_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_consumables_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td>Fellowship</td>
                                <td>{{ balance_fellowship_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_fellowship_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td>Contingency</td>
                                <td>{{ balance_contingency_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_contingency_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td>Travel</td>
                                <td>{{ balance_travel_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_travel_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td>Field Testing</td>
                                <td>{{ balance_field_testing_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_field_testing_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td>Miscellaneous</td>
                                <td>{{ balance_miscellaneous_sanctioned|default:"No data available" }}</td>
                                <td>{{ balance_miscellaneous_received|default:"No data available" }}</td>
                            </tr>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td><strong>{{ balance_sanctioned|default:"No data available" }}</strong></td>
                                <td><strong>{{ balance_received|default:"No data available" }}</strong></td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Expenditures -->
                    <!-- Detailed Expenditures Table -->
                    <h2 class="section-heading text-primary fade-in mt-5">Detailed Expenditures:</h2>
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="table-light">
                            <tr>
                                <th>Type</th>
                                <th>Expenditure Date</th>
                                <th>Amount (Rs.)</th>
                                <th>Expenditure Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if expenditures %}
                                {% for expenditure in expenditures %}
                                <tr>
                                    <td>{{ expenditure.get_type_display|default:"No data available" }}</td>
                                    <td>{{ expenditure.Expenditure_date|date:"d-m-Y"|default:"No data available" }}</td>
                                    <td>Rs. {{ expenditure.amount|default:"No data available" }}</td>
                                    <td>{{ expenditure.get_expenditure_type_display|default:"No data available" }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class="text-center"><strong>No expenditure information available for this project.</strong></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>

                    <!-- Total Expenditures by Type Table -->
                    <h2 class="section-heading text-primary fade-in mt-5">Total Expenditures by Type:</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Financial Year</th>
                                <th>Equipment</th>
                                <th>Consumables</th>
                                <th>Fellowship</th>
                                <th>Contingency</th>
                                <th>Travel</th>
                                <th>Field Testing</th>
                                <th>Miscellaneous</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if financial_year_expenditure_totals %}
                                {% for year, types in financial_year_expenditure_totals.items %}
                                <tr>
                                    <td>{{ year|default:"No data available" }}</td>
                                    <td>{{ types.Equipment|default:"0" }}</td>
                                    <td>{{ types.Consumables|default:"0" }}</td>
                                    <td>{{ types.Fellowship|default:"0" }}</td>
                                    <td>{{ types.Contingency|default:"0" }}</td>
                                    <td>{{ types.Travel|default:"0" }}</td>
                                    <td>{{ types.Field_Testing|default:"0" }}</td>
                                    <td>{{ types.Miscellaneous|default:"0" }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="8" class="text-center"><strong>No expenditure totals information available for this project.</strong></td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}